* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181823;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  background-color: #181823;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid #e9f8f9;
  position: fixed;
  top: 0;
  left: 100;
  width: 79.5%;
}

#logo_name {
  color: #537fe7;
  font-size: 28px;
  margin-left: 25px;
}

#nav_menu a {
  color: #e9f8f9;
  text-decoration: none;
  font-size: 24px;
  margin-right: 25px;
}

#home_section {
  margin-top: 40px;
  width: 1200px;
  height: 400px;
  background-color: #181823;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9f8f9;
}

#home_content {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 25px;
}

#home_content p {
  font-size: 48px;
  color: #e9f8f9;
}

#home_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #537fe7;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #e9f8f9;
}

.material-symbols-outlined {
  margin-left: 10px;
}

#home_image {
  width: 300px;
  height: 300px;
  margin-right: 25px;
}

#home_image img {
  border-radius: 50%;
}

#about {
  width: 1200px;
  height: 550px;
  font-family: "Montserrat", sans-serif;
  background-color: #181823;
  color: #e9f8f9;
  border-bottom: 1px solid #e9f8f9;
  padding-top: 60px;
}

#about_title,
#projects_title,
#contact_title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #e9f8f9;
}

#about_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#italo_img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 10px;
}

#about_content {
  width: 600px;
  margin-top: 20px;
  margin-right: 25px;
  align-self: flex-start;
}

#about_content p {
  margin-top: 10px;
  text-align: justify;
}

#about_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #537fe7;
  margin-top: 45px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #e9f8f9;
  border: none;
}

#projects {
  width: 1200px;
  height: 500px;
  background-color: #181823;
  border-bottom: 1px solid #e9f8f9;
  padding-top: 60px;
}

#projects_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

.boxes {
  width: 300px;
  height: 250px;
  background-color: red;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

#box1 {
  background-image: url("../images/banner_academy.png");
  background-size: cover;
}

#box2 {
  background-image: url("../images/banner_pragramming_code.jpg");
  background-size: cover;
}

#box3 {
  background-image: url("../images/banner_lol.png");
  background-size: cover;
}

#contact {
  width: 1200px;
  height: 580px;
  background-color: #181823;
  padding-top: 60px;
  border-bottom: 1px solid #e9f8f9;
}

#contact_content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

#contact_image {
  width: 400px;
  height: 400px;
  background-image: url("../images/vector_man.jpg");
  background-size: cover;
  margin-left: 25px;
  border-radius: 20px;
}

#contact_form {
  width: 550px;
  height: 400px;
  margin-right: 25px;
}

#contact_text {
  resize: none;
}

#form_name,
#form_email,
#form_number,
#contact_text {
  display: block;
  width: 98%;
  margin-left: 10px;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
}

#contact_button {
  float: right;
  margin-right: 6px;
  background-color: #537fe7;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  color: #e9f8f9;
}

footer {
  width: 1200px;
  height: 500px;
  background-color: #181823;
  color: #e9f8f9;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

#footer_box1,
#footer_box2,
#footer_box3 {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  text-align: center;
}

#footer_box2 {
  display: flex;
  flex-direction: column;
}

.title_footer {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #e9f8f9;
}

#footer_box2 a {
  text-decoration: none;
  font-size: 20px;
  color: #e9f8f9;
  margin-top: 10px;
}

#circle_links {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e9f8f9;
}

#circle1 {
  background-image: url(../images/github.png);
  background-size: cover;
}

#circle2 {
  background-image: url(../images/linkedin.png);
  background-size: cover;
}

#circle3 {
  background-image: url(../images/discord.png);
  background-size: cover;
}

.italo_portfolio_text {
  font-size: 18px;
  margin-top: 10px;
}

.contact_info_text {
  font-size: 18px;
  margin-top: 5px;
}
