* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #182323;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  background-color: #182323;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid #e9f8f9;
}

#logo_name {
  color: #537fe7;
  font-size: 28px;
  margin-left: 25px;
}

#nav_menu a {
  color: #e9f8f9;
  text-decoration: none;
  font-size: 24px;
  margin-right: 25px;
}

#home_section {
  width: 1200px;
  height: 400px;
  background-color: #182323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9f8f9;
}

#home_content {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 25px;
}

#home_content p {
  font-size: 48px;
  color: #e9f8f9;
}

#home_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #537fe7;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #e9f8f9;
}

.material-symbols-outlined {
  margin-left: 10px;
}

#home_image {
  width: 300px;
  height: 300px;
  margin-right: 25px;
}

#home_image img {
  border-radius: 50%;
}

#about {
  width: 1200px;
  height: 500px;
  font-family: "Montserrat", sans-serif;
  background-color: #182323;
  color: #e9f8f9;
  border-bottom: 1px solid #e9f8f9;
}

#about_title,
#projects_title,
#contact_title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #e9f8f9;
}

#about_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#italo_img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 10px;
}

#about_content {
  width: 600px;
  margin-top: 20px;
  margin-right: 25px;
  align-self: flex-start;
}

#about_content p {
  margin-top: 10px;
  text-align: justify;
}

#about_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #537fe7;
  margin-top: 45px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #e9f8f9;
  border: none;
}

#projects {
  width: 1200px;
  height: 500px;
  background-color: #182323;
}

#projects_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

.boxes {
  width: 300px;
  height: 250px;
  background-color: red;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

#box1 {
  background-image: url("../images/banner_academy.png");
  background-size: cover;
}

#box2 {
  background-image: url("../images/banner_pragramming_code.jpg");
  background-size: cover;
}

#box3 {
  background-image: url("../images/banner_lol.png");
  background-size: cover;
}

#contact {
  width: 1200px;
  height: 500px;
  background-color: #537fe7;
}

#contact_content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

#contact_image {
  width: 400px;
  height: 400px;
  background-color: red;
  margin-left: 25px;
}

#contact_form {
  width: 550px;
  height: 400px;
  background-color: black;
  margin-right: 25px;
}
